/*Text Scams PSA*/
/*Jennifer Juzyk et. al.*/
/*	Mystyle.css */


body	{background-color: lightgray;}

h1		{
    color: darkred;
    text-align: center;
}

h2      {
    color: darkred;
    text-align: center;
}

footer  {text-align: right;}
